body {
    background-color: #ebe6f1;
    font-family: Arial, sans-serif;
}

nav a {
    color: #1839f2;
}

nav a:hover {
    color: #010d1a;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

.cv{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1839f2;
}




.figure-with-caption {
    text-align: center;
    flex: 0 0 48%;
    max-height: 400px;
    overflow: hidden;
    background-color: #ebe6f1;
    margin-bottom: 20px;
    max-width: 100%;
}


.figure-with-caption img{
    width: 50%;
    height: auto;
}

.figure-with-caption figcaption {
    margin-top: 10px;
}

#contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contacts li {
    margin-right: 15px;
    display: inline-block;
    font-size: 32px;
}


.twitter-icon {
    color: #1da1f2;
}

.facebook-icon {
    color: #1877f2;
}

.linkedin-icon {
    color: #2867b2;
}

.mail-icon {
    color: #e74c3c;
}

#contacts li:hover ion-icon {
    color: #010d1a;
}

footer {
    background-color: #5a4d4d;
    color: #fff;
    padding: 15px; 
    text-align: center;
}
